/* Styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Dancing Script', cursive;
  font-size: 1.25rem;
}

header{
  border-bottom: 3px ridge #2E86C1; 
  background-color: #337DFF;
}

main{
  flex-grow: 1;
  background-color: seashell;
}

footer{
  border-top: 3px ridge #2E86C1;
  background-color: #337DFF;
}

.fa {
  color: red;
  cursor: pointer;
}

header .fa{
  color: white;
}

.card-header .fa{
  color: white;
}