/* Styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Dancing Script', cursive;
}

main{
  flex-grow: 1;
}

.fa {
  color: red;
  cursor: pointer;
}

.card-header .fa{
  color: white
}